$bodyBG: #eee;
$blue: #356;
$HeaderColor: #333;
$fontColor: #555;

body {
  background-color: $bodyBG;
}

h3,h4,h5,p,a {
  color: $fontColor;
}

h1,h2 {
  color: $HeaderColor;
}

.content {
  //border: solid #999 1px;
  height: 350px;
  width: 500px;
  color: $fontColor;
  font-size: 18px;
}
