$bodyBG: #eee;
$blue: #456;
$blue: #456;
$HeaderColor: #333;
$fontColor: #555;

body {
  background-color: $bodyBG;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h3,h4,h5,p,a {
    color: $fontColor;
  }
  
  h1,h2 {
    color: $HeaderColor;
  }

  .hc-btn {
    background: $blue;
    padding: 15px 45px;
    color: #fff;
    margin: 5px;
    border: $blue;
    font-size: 18px;

    &:hover, &:focus {
      background: #dcd5d5;
      background-position: 0 -15px;
      box-shadow: 0 0.2px 10px 1px;
    }
  }
  
  .hc-btn-small {
    background: $blue;
    padding: 7.5px 22.5px;
    color: #fff;
    margin: 5px;
    border: $blue;
    font-size: 16px;

    &:hover, &:focus {
      background: #dcd5d5;
      background-position: 0 -15px;
      box-shadow: 0 0.2px 10px 1px;
    }
  }
  
  // Menu icon
  .navbar-default .navbar-toggle {
    border: none;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: $blue;
  }

  .navbar-toggle .icon-bar {
    width: 30px;
  }
  
  // menu header
  .navbar-default {
    background: #fff;
    border-radius: 0;
    border: none;
    border-bottom: solid $blue 2px;

    .navbar-brand {
      color: $blue;
      font-weight: 700;
    }

    .navbar-nav>li>a{
      color: #000;
    }

    .nav>li>a:focus, 
    .nav>li>a:hover{
      background-color:$blue;
      color: #fff;
    }

    .navbar-nav>a:focus, 
    .navbar-nav>a:hover {
      color: #fff;
      background-color: $blue;
    }

    .navbar-nav>.open>a, 
    .navbar-nav>.open>a:focus, 
    .navbar-nav>.open>a:hover {
      color: #fff;
      background-color: $blue;
      background-image: $blue;
    }

    .navbar-nav>.active>a, 
    .navbar-nav>.active>a:focus, 
    .navbar-nav>.active>a:hover {
      color: #fff;
      background-color: $blue;
      background-image: $blue;
    }

    .dropdown-menu>.active>a, 
    .dropdown-menu>.active>a:focus,
    .dropdown-menu>.active>a:hover {
      color: #fff !important;
      background-color: $blue !important;
      background-image: $blue;
    }
  }

  // Seiten inhalte
  .content {
    .navbar {
      margin-bottom: 0;

      .nav li a {
        font-size: 14px;
      }
    }

    .body-wrapper {
      .opener {
        height: calc(100vh - 50px);
        background: url(/img/hc-opener.jpg) no-repeat 10% 10%;
        background-size: cover;
        background-position: center;

        .opener-content {
          margin-top: 8%;
          display: flex;

          .willkommen {
            
            h1{
              color: #fff;
              text-shadow: 1px 1px 12px #000;
            }


            span {
              font-size: 1.8em;
              font-weight: 700;
              margin-top: 35px;
            }
            
            .hc-btn {
              margin-top: 45px;
            }
          }
        }
      }

      .content-wrapper {
        .hc-willkommen {
          h1 {
            text-align: center
          }

          .hc-will-content {
            padding: 30px;
            margin-bottom: 15px;
          }
          
          .info {
            background: #ddd;
            margin: 15px 0 45px;

            .eckdaten {
              min-width: 345px;
              margin-top: 1%;
              margin-bottom: 15px;

              .ed {
                font-weight: 700;
                width: 180px;
                height: 35px;
              }
            }

            .eckdaten-haus {
              padding: 0;
              img{
                width: 100%;
                max-width: 800px;
              }
            }
          }
        }
        
        .anfahrtkarte {
          margin-bottom: 30px;
          
          img{
            width: 100%;
            max-height: 450px;
            object-fit: cover;
          }
        }
      }
    }
  }


  // Seite Belegungskalender
  &#belegungskalender {
    
    .body-wrapper{
      text-align: center;

      #belegungsübersicht {
        .info {
          padding: 15px 0 0;
          background: #ddd;
          margin-bottom: 45px;

          p{
            margin: 0;    
            line-height: 20px;
          }

          #whg_nav{
            list-style: none;
            display: flex;
            justify-content: center;
            margin: 0;

            .whg {  
              padding: 5px 30px;
              
              a {
                color: $blue;

                &:hover, &:focus {
                  text-decoration: none;
                  color: #000;
                }
              }
            }
          }
        }

        iframe {
          border: none;
          border-top: solid $blue 3px;
          margin-top: 15px;
          margin-bottom:  45px;
        }

        .btt {
          position: fixed;
          bottom: 50px;
          right: 25px;
          width: 50px;
          height: 50px;
          background: #456;
          border-radius: 50%;
          z-index: 100;

          .fas {
            margin-top: 18%;
            font-size: 30px;
            color: #fff;
          }
        }
      }
    }

    .xs-btt {
      .bttop{
        padding: 10px;
        background: $blue;
        text-align: center;
        margin: 0 10% 30px;
        width: 80%;
        border-radius: 5px;
        color: #fff;
        font-weight: 600;
      }
  
      .fas {
        font-size: 30px;
        color: #fff;
      }
    }
  }


  // Seite Preisliste
  &#saison-preise {
    .saison {
      padding: 0px;
      margin: 15px 0;
      background: #ccc;
      border: solid $blue 1px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          &:nth-child(odd) {
            background: #eee;
          }
        }
      }

      p {
        margin: 0;
        margin-right: 15px;
        line-height: 35px;
      }

      .saisonheader {
        background-color: $blue;
        color: #fff;
        padding: 10px 5px;
        margin-bottom: 15px;
        display: flex;
        justify-content: space-between;  
      }

      .preistabelle-header {
        display: flex;
        justify-content: space-between;
        padding: 0px 5px;
        margin-bottom: 15px;
        border-bottom: solid $blue 1px;
      }

      .whg-preis {
        padding: 0 0 15px;
        .preis-pro-nacht {
          .whg-preisliste {
            text-align: right;
          }
        }
      }

      .whg{
        padding: 0;

        p {
          margin-left: 15px;
        }
      } 
      
      .preis-pro-nacht {
        padding: 0;
        
        p {
          margin-right: 15px;
        }

      }

      &.feiertage {
        ul {
          li {
            &:nth-child(odd), &:nth-child(even)  {
              background: #eee;
              border-bottom: solid #ccc 2px;
            }
          }
        }
      }
    }
  }


  &.whgen-aufstellung {
    .content {
      .whg-eckdaten {
        padding: 0;

        .body-wrapper {
          margin: 30px 0;
          ul li {
            list-style: none;

            .imgs {
              object-fit: contain;
              width: 100vw;
              width: 100%;
            }
          }
        }

        .hc-wohnung-uebersicht {
          margin: 15px 0;

          .uebersicht_header {
            padding: 0;

            h3{
              font-weight: 600;
            }

            p{
              font-size: 14px;
              margin: 0;
            }
          }

          ul li {
            list-style: none;
          }

          .whg-detail-sicht{
            padding: 0;
            margin: 30px 0;

            .saisonzeiten, .preis_pro_nacht {
              padding: 0;
            }

            .saison, .preisliste {
              padding: 0;
            }

            .preisliste li {
                text-align: right;
            }
            .saison ul li p {
              font-weight: 600;
            }
          }

          .cta-btn {
            margin: 30px 0;
            padding: 0;

            a {
              margin: 0;
            }
          }
          
        }
      }
    }
  }

  // impressum
  &#impressum {
    .content .body-wrapper {
      .impressum-content, .datenschutz-content {
        padding: 30px;
        margin-bottom: 25px;
      }
    }
  }

  &#kontakt {
    .content .body-wrapper {
      .hc-mail {
        margin-top: 30px;
        padding: 30px 15px;
      }

      .hc-form-content {
        margin-bottom: 45px;
        margin-top: 10px;

        input, textarea, button  {
          margin: 5px 0;
        }

        #form-user {
          #kontaktFormular {

            #form-box-checkbox a {
              color: $blue;
            }
            .error{
              display: none;
              color: #c51717;
              padding: 2.5px;
              width: 98%;
              margin: 0 auto;
            }

            .visible {
              display: block;
              color: #c51717;
              padding: 2.5px;
              width: 98%;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  

  .footer{
    background: #fff;
  
    h4 {
      font-size: 36px;
    }
  
    .carsta-kontakt {
      margin-bottom: 30px;
  
      ul {
        padding: 0;
      }
  
      li {
        list-style: none;
  
        p {
          margin: 0;
        }
      }
    }
  }
}


// styles for device viewports
@media only screen and (max-width: 768px)  {
  body {

    .content .body-wrapper {
      .opener .opener-content .willkommen {
        margin-left: 45px;

        .opener-header {
          line-height: 50px;
          //font-size: 32px;  
          span{
            font-size: 1.6em;
          }
        }
      }
    }
    
    // Belegungskalender
    &#belegungskalender {
      .body-wrapper{
        #belegungsübersicht {
          .info {            
            margin-bottom: 30px;

            p{    
              line-height: 24px;
            }

            #whg_nav {
              display: inline;
            }
          }
        }
      }
    }

    &#impressum {
      .datenschutz-content {
        span{
          word-break: break-word;
          word-wrap: break-word;
        }
      }
    }
  }
}


@media only screen and (max-width: 480px)  {
  body {

    .content .body-wrapper {
      .opener .opener-content .willkommen {
        margin-left: 0px;
        .opener-header {
          line-height: 50px;
          font-size: 30px;  
          span{
            font-size: 1.2em;
          }
        }

        .hc-btn {
          margin-top: 160px;
        }
      }

      .hc-willkommen .info .eckdaten {
        min-width: 300px !important;
        margin-top: 1%;
      }
    }

    &.whgen-aufstellung {
      .body-wrapper {
        margin: 30px 0 0 !important;
      }

      .hc-wohnung-uebersicht {
        margin: 0 !important;
        .uebersicht_header {
          p{
            font-size: 12px !important;
          }
        }    
      }
    }

    // Seite Preisliste
    &#saison-preise {
      .saison {
        .saisonheader {
          display: grid;
        }
      }
    }

    &#kontakt {
      .content .body-wrapper {
        .hc-mail {
          margin-top: 0px;
          padding: 0 15px;

          h2{
            font-size: 20px;
          }
        }
      }
    }

    &#impressum {
      .impressum-content {
        margin-bottom: 0 !important;
      }
      .impressum-content, .datenschutz-content {
        padding: 15px !important;
      }
    }
  }
}


@media only screen and (max-width: 320px)  {
  body {

    h1,h2 {
      font-size: 22px;
    }

    font-size: 14px;

    .opener .opener-content .willkommen {

      .opener-header {
        line-height: 40px !important;
        font-size: 28px !important ;
      }

      .hc-btn {
        margin-top: 100px !important;
      }
    }
    

    // Seite Preisliste
    &#saison-preise {
      .saison {
        .saisonheader {
          display: grid;
        }
      }
    }
  }  
}
